.idea/
.vscode/
/node_modules
dev/
dev-test/
dist/
lib/
coverage
deploy.sh
deploy-noclient.sh
build.sh
pack*.sh
*.tgz

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store

# dependencies
/.pnp
.pnp.js


# testing
/coverage
