.card {
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  box-shadow: 2px 2px 10px #f5f5f5;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card:hover {
  box-shadow: 2px 2px 10px #e0e0e0;
}

.card-menubar {
  padding: 8px 8px 0 8px;
  margin-top: 6px;
  display: inline-flex;
  flex-direction: row;
}

.card-menubar > .item {
  color: #b0b0b0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  margin: 0 12px 0 12px;
}

.card-menubar > .item .text {
  cursor: pointer;
}

.card-menubar > .item .text:hover {
  color: var(--textBlue);
}

.card-menubar > .item > .feedback {
  transition: opacity 0.3s;
  opacity: 0;
  height: 24px;
  color: #70b34fff;
}

.card-contents {
  width: 92%;
  margin: 18px 18px 28px 18px;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
}

.card-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  align-items: center;
}

.card-header .title--path-box {
  display: inline-block;
  word-wrap: anywhere;
}

.card-header .title {
  color: #696969;
  font-family: Rubik, sans-serif;
  margin-top: 4px;
  word-wrap: break-word;
}

.card-header .method--path {
  color: var(--pathBlue); /*4f7da5*/
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 16px;
  /*line-height: 120%;*/
  word-wrap: anywhere;
}

.card-header .path {
  word-wrap: anywhere;
  white-space: break-spaces;
}

.path--text {
  word-wrap: anywhere;
  white-space: break-spaces;
}

.http-method {
  color: #101010;
  border-radius: 2px;
  font-size: 13px;
  padding: 2px 4px;
}

.http-method.get {
  background-color: var(--getMethodColor); /*a5cafd*/
}

.http-method.post {
  background-color: var(--postMethodColor);
}

.http-method.patch {
  background-color: var(--patchMethodColor);
}

.http-method.put {
  background-color: var(--putMethodColor);
}

.http-method.delete {
  background-color: var(--deleteMethodColor);
  color: #fff;
}

.card-body {
}

.description--box {
  background-color: #f4f4f4;
  border-left: 1px solid #d0d0d0;
  color: #505050;
  padding: 12px;
  margin: 6px 0 10px 0;
  text-align: left;
}

.code-box {
  margin-bottom: 8px;
}
